*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

span,
img,
button,
input {
  display: block;
}


input {
  width: 100%
}

img {
  height: auto;
}

input,
button {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

address {
  font-style: normal;
}


@very-dark-desaturated-blue: hsl(212, 27%, 19%);
@very-dark-grayish-blue: hsl(213, 9%, 39%);
@dark-desaturated-cyan: hsl(167, 40%, 24%);
@dark-moderate-cyan: hsl(168, 34%, 41%);
@middle-blue-green: hsl(167, 44%, 70%);
@dark-grayish-blue: hsl(232, 10%, 55%);
@grayish-blue: hsl(210, 4%, 67%);
@olive-drab-7: hsl(54, 96%, 10%);
@dark-blue: hsl(198, 62%, 26%);
@soft-red: hsl(7, 99%, 70%);
@yellow: hsl(51, 100%, 49%);
@white: hsl(0, 0%, 100%);
@snow: hsl(26, 100%, 99%);
@transition-1: 0.25s ease;


html {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

body { background-color: @snow; }


h1,
h2,
h3,
h4,
.nav-btn,
.about-link {
  font-family: "Fraunces", serif;
  font-weight: 900;
}


.w-100 {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


/*----------------------------------*\
  -  HEADER
\*----------------------------------*/

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: 2;
  
  .container {
    --header-color: hsl(0, 0%, 100%);
    padding: 32px 24px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &.active {
      --header-color: hsl(198, 62%, 26%);
      position: fixed;
      background-color: #fff;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
      animation: slideIn 0.5s ease forwards;
      
      .logo img {
        filter: invert(25%) sepia(40%) saturate(809%) hue-rotate(152deg) brightness(30%) contrast(94%);
      }
      
      .navbar-list.active { top: calc(100% + 25px); }
    }
    
  }
}


@keyframes slideIn {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0%); }
}

.navbar-list {
  position: absolute;
  top: calc(100% + 18px);
  left: 22px;
  right: 24px;
  background-color: @white;
  padding: 40px;
  box-shadow: 0 10px 40px hsla(0, 0%, 0%, 0.1);
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
  transition: @transition-1;
  
  &.active {
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
  }
  
  li:not(:first-child) {
    margin-top: 33px;
  }
  
  &:before {
    content: "";
    position: absolute;
    border: 24px solid transparent;
    border-right-color: @white;
    top: -24px;
    right: 0;
  }
}



.nav-link {
  font-size: 20px;
  display: block;
  text-align: center;
  color: @dark-grayish-blue;
}

.nav-toggle-btn {
  height: 24px;
  width: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  
  .line {
    width: 100%;
    height: 2px;
    background-color: var(--header-color);
    transition: @transition-1;
  }
  
  &.active {
    .one { transform: translateY(4px) rotate(45deg) }
    .two { display: none; }
    .three { transform: translateY(-4px) rotate(-45deg) }
  }
}

.nav-btn {
  margin-inline: auto;
  padding: 18px 30px;
  background-color: blue;
  border-radius: 50px;
  font-size: 15px;
  text-transform: uppercase;
  background-color: @yellow;
  color: @olive-drab-7;
}





/*----------------------------------*\
  -  HOME
\*----------------------------------*/

.home { position: relative; }

.home-absolute-content {
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  
  img { 
    display: inline-block;
    animation: jump-down 2s ease infinite;
  }
}

 h1 {
  color: @white;
  font-size: 40px;
  letter-spacing: 6.8px;
  text-transform: uppercase;
  margin-block-end: 49px;
}

@keyframes jump-down {

  0%,
  50%,
  100% { transform: translateY(0); }

  12.5%,
  37.5% { transform: translateY(20px); }

  25% { transform: translateY(10px); }

}



/*----------------------------------*\
  -  ABOUT
\*----------------------------------*/

.about-content {
  text-align: center;
  padding: 64px 24px;
  padding-block-end: 66.8px;
  max-width: 550px;
  margin-inline: auto;
}

.about-title {
  color: @very-dark-desaturated-blue;
  font-size: 32px;
}

.about-text {
  margin-block: 23px 32px;
  color: @dark-grayish-blue;
  line-height: 1.67;
}

.about-link {
  text-transform: uppercase;
  color: @very-dark-desaturated-blue;
  font-size: 16px;
  letter-spacing: 0.7px;
  position: relative;
  z-index: 1;
  
  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -8px);
    background-color: @yellow;
    width: calc(100% + 15px);
    height: 10px;
    border-radius: 10px;
    z-index: -1;
    opacity: 0.3;
    transition: @transition-1;
  }
  
  &.pink:after { background-color: @soft-red; }
  &:hover:after { opacity: 1; }
}




/*----------------------------------*\
  -  SERVICES 
\*----------------------------------*/

.services-box {
  position: relative;
}

.service-absolute-content {
  position: absolute;
  bottom: 34px;
  left: 50%;
  padding: 25px 20px;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  max-width: 380px;
}

.services-title {
  margin-block-end: 28px;
  font-size: 28px;
  text-transform: capitalize;
  color: @dark-desaturated-cyan;
  
  &.blue {
    color: @dark-blue;
    transform: translateX(-8px);
  }
}

.services-text {
  line-height: 1.7;
  font-size: 16px;
  color: @dark-desaturated-cyan;
  
  &.blue { color: @dark-blue; }
}




/*----------------------------------*\
  - TESTIMONIALS 
\*----------------------------------*/

.testimonials {
  padding: 65px 24px;
  padding-block-end: 90px;
  
  &-title {
    color: @grayish-blue;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin-block-end: 64px;
  }
  
  &-list {
    display: grid;
    gap: 68.5px;
    
    .testimonials-client {
      text-align: center;
      
      .client-img-box {
        height: 72px;
        width: 72px;
        border-radius: 50%;
        margin: auto;
        margin-bottom: 32px;
        overflow: hidden;
      }
      
      .client-text {
        max-width: 350px;
        color: @very-dark-grayish-blue;
        line-height: 1.75;
        margin: auto;
        margin-bottom: 34px;
      }
      
      .client-name {
        color: @very-dark-desaturated-blue;
        margin-bottom: 12px;
      }
      
      .client-title {
        font-size: 14px;
        color: @grayish-blue;
      }
    }
  }
}




/*----------------------------------*\
  -  PROJECTS 
\*----------------------------------*/

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
}



/*----------------------------------*\
  -  FOOTER 
\*----------------------------------*/

footer {
  background: @middle-blue-green;
  padding: 64px 24px;
  padding-block-end: 80px;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  
  img { 
    filter: brightness(0) saturate(100%) invert(39%) sepia(14%) saturate(1477%) hue-rotate(115deg) brightness(94%) contrast(95%);
    width: 174px;
    transform: translateX(-6px);
  }
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 55px;
  margin-block: 42px 90px;
  
  a { 
    color: @dark-moderate-cyan;
    transition: @transition-1; 
    
    &:hover { color: @white; }
  }
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 28px;
  
  img { transition: @transition-1; }
  
  a:hover > img {
    filter: brightness(1000%);
  }
}


[data-reveal] {
  transform: translateY(20px);
  opacity: 0;
  transition: 0.75s ease;
  
  &.revealed {
    transform: translateY(0px);
    opacity: 1;
  }
}

[data-reveal="image"] {
  opacity: 0;
  transform: unset;
  transition: 0.75s ease;
  
  &.revealed { opacity: 1; }
}



/*----------------------------------*\
  - RESPONSIVE
\*----------------------------------*/

@media only screen and (min-width: 980px) {
  
  /**
   * HEADER 
   */
  
  header {
    .container {
      padding: 35px 40px;
      padding-inline-end: 49px;
      
      &.active { 
        .nav-link { color: @very-dark-desaturated-blue }
        .nav-btn {
          background-color: @yellow;
          color: @olive-drab-7;
          
          &:hover { opacity: 0.5; }
        }
      }
    }
    
    .logo img {
      width: 172px;
    }
  }
  
  .navbar-list {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
    &:before { all: unset }
  }
  
  .nav-toggle-btn { display: none; }
  
  .navbar-list li { margin: 0!important; }
  
  .nav-link { 
    font-size: 17.3px;
    color: @white;
  }
  
  .nav-btn {
    background-color: @white;
    color: @very-dark-desaturated-blue;
    transition: @transition-1;
    
    &:hover {
      background: hsla(0, 0%, 100%, 0.3);
      color: @white; 
    }
  }
  
  /**
   *  HOME
   */
  
  .home-absolute-content {
    width: 100%;
    top: 11rem;
    
    h1 {
      font-size: 55px;
      letter-spacing: 10px;
      margin-block-end: 90px;
    }
  }
  
  
  /**
   * ABOUT
   */
  
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .about-img-box:first-of-type {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .about-content {
    max-width: unset;
    padding: 158px 100px;
    padding-inline-start: 164px;
    text-align: left;
    
    &:first-of-type {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    
    &:last-of-type {
      padding: 158px 150px;
      padding-inline-start: 110px;
    }
  }
  
  .about-title { font-size: 40px;}

  .about-text { margin-block: 32px 40px; }
  
  .about-link { margin-inline-start: 8px; }
  
  
  /**
   * SERVICES 
   */
  
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    &-title.blue { transform: translate(0); }
  }
  
  
  /**
   * TESTIMONIALS 
   */
  
  .testimonials { padding: 160px 40px; }
  
  .testimonials-title {
    font-size: 20px;
    letter-spacing: 5px;
    margin-block-end: 82px;
  }
  
  .testimonials {
    &-list {
      margin-inline: auto;
      max-width: 1115px;
      gap: 26px;
      grid-template-columns: 1fr 1fr 1fr;
    }
    
    .testimonials-client {
      .client-img-box {
        margin-block-end: 58px;
      }
      
      .client-text {
        margin-block-end: 72px;
      }
      
      .client-title,
      .client-name { transform: translateX(-10px); }
    }
  }
  
  
  /**
   * PROJECTS
   */
  
  .projects { grid-template-columns: repeat(4, 1fr); }
  
  /**
   * FOOTER
   */
  
  footer { 
    padding-inline: 24px;
    padding-block: 74px 72px;
  }
}